<div class="page-title">
  <p>最新の投稿</p>
</div>
<div class="search-switch">
  <div>
    <p id="post-button"><%= link_to "投稿検索", tops_path(button: "post"), remote: true %></p>
    <p id="user-button"><%= link_to "ユーザー検索", tops_path(button: "user"), remote: true %></p>
  </div>
</div>
<div id="search">
  <%= render 'posts/search' %>
</div>
<%= render 'posts/posts' %>
