<div class="sign-up-block">
  <%= link_to new_user_registration_path(role: 1), class: "sign-up-block2" do %>
    <div>
      <p>ご本人様、またはご家族のご利用はこちら</p>
      <i class="fas fa-house-user"></i>
    </div>
  <% end %>
  <%= link_to new_user_registration_path(role: 2) do %>
    <div>
      <p>介護施設の職員のご利用はこちら</p>
      <i class="fas fa-hospital-alt"></i>
    </div>
  <% end %>
  <%= link_to new_user_registration_path(role: 3) do %>
    <div>
      <p>ケアマネージャーのご利用はこちら</p>
      <i class="fas fa-hospital-user"></i>
    </div>
  <% end %>
</div>
