<div class="page-title">
  <p>検索結果一覧</p>
</div>
<div class="care-recipient-search">
  <%= form_with url: search_care_recipients_path, method: :get, local: true do |f| %>
    <%= f.text_field :name, class: "form" %>
    <%= f.submit "検索する", class: "btn" %>
  <% end %>
</div>
<%= render 'care_recipients/care_recipients' %>
