<div class="page-title">
  <p>メッセージルーム一覧</p>
</div>
<div class="room-index-block">
  <ul>
    <% @entries.each do |entry| %>
      <%= link_to room_path(entry.room_id) do %>
        <% if entry.room.name.present? %>
          <li><span><%= entry.room.name %></span></li>
        <% else %>
          <li><span>
            <% entry.room.entries.each do |room_entry| %>
              <%= room_entry.user.name %>,
            <% end %>
            のルーム
          </span></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
