@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body{
  margin-top: 50px;
}

.header{
  background-color: #FF9800;
}

.title-logo{
  margin: 0px;
  position: fixed;
}

.dashboard-padding{
  padding-left: 200px;
}

.dashboard{
  top: 50px;
  box-sizing: border-box;
  height: 100%;
  width: 200px;
  position: fixed;
  background: #FFF8E1;
 }

.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover{
    color: white;
  }
}

.sign-in-block{
  margin-top: 150px;
  text-align: center;
  border: solid 1px;
  width: 700px;
  padding:50px;
  border-radius: 25px;
  max-width: 700px;
  width: 90%;
  min-width: 250px;
}

.sign-in-title{
  font-weight: 600;
}

.sign-in-form{
  width: 90%;
  height: 30px;
  border-radius: 5px;
  margin-top: 40px;
}

.sign-in-btn{
  padding: 2px;
  color: white;
  background-color: #0099FF;
  border: 1px solid;
  border-radius: 5px;
  margin-top: 40px;
  width: 100px;
  height: 40px;
  font-size: 15px;
}

.sign-in-link{
  font-size: 16px;
  padding-top: 20px;
}

//↓ sign-in-blockと全く同じ
.new-room-block{
  margin-top: 150px;
  text-align: center;
  border: solid 1px;
  width: 700px;
  padding:50px;
  border-radius: 25px;
  max-width: 700px;
  width: 90%;
  min-width: 250px;
}

.new-room-title{
  font-weight: 600;
}

.new-roo-form{
  width: 90%;
  height: 30px;
  border-radius: 5px;
  margin-top: 40px;
}

.new-room-btn{
  padding: 2px;
  color: white;
  background-color: #0099FF;
  border: 1px solid;
  border-radius: 5px;
  margin-top: 40px;
  width: 100px;
  height: 40px;
  font-size: 15px;
}

.avatar-none{
  font-size: 190px;
}

.mypage-avatar{
  border-radius: 95px;
}

#img_field{
  width: 190px;
}

#file{
  display: none;
}

.edit-form{
  width: 280px;
  height: 30px;
  border-radius: 5px;
  margin: 40px 40px 0px 40px;
}

.edit-btn{
  padding: 2px;
  color: white;
  background-color: #0099FF;
  border: 1px solid;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  font-size: 15px;
  margin: 100px;
}
