@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import "font-awesome";

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance:textfield;
}

body{

  margin-top: 50px;
}

.header{
  background-color: #FF9800;
}

.title-logo{
  margin: 0px 10px;
  position: fixed;
  a {
    color: white;
    text-decoration: none;
  }
}

.large-avatar{
  border-radius: 95px;
}

.large-avatar-none{
  font-size: 190px;
  color: 	#808080;
}

.middle-avatar{
  width: 130px;
  border-radius: 95px;
}

.middle-avatar-none{
  font-size: 130px;
  color: 	#808080;
}

.small-avatar{
  width: 60px;
  border-radius: 95px;
}

.small-avatar-none{
  font-size: 60px;
  color: 	#808080;
}


.search-switch {
  width: 600px;
  font-size: 0px;
  margin: 0 auto;
  div {
    width: 201px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: #FF9800;
    #post-button {
      background-color: #FF9800
    }
    p {
      text-align: center;
      display: inline-block;
      width: 100px;
      height: 30px;
      margin: 0px;
      font-size: 15px;
      border-right: 1px solid;
      border-color: #FF9800;
      background-color: #FFF8E1;
      a {
        color: #333333;
        &:hover{
          text-decoration: none;
          color: #333333;
        }
      }
    }
  }
}

.search {
  border: solid 1px;
  border-color: #FF9800;
  background-color: #FFF8E1;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  div {
    border-radius: 7px;
    background-color: white;
    width: 550px;
    height: 27px;
    input {
      border-color: transparent;
      width: 500px;
      outline: none;
      border: none;
      resize: none;
    }
    .btn {
      background-color: #FF9800;
      color: white;
      width: 70px;
      height: 25px;
      position: absolute;
      padding: 0px;
    }
  }
}

.search-index-block {
  border: 1px solid;
  border-color: #FF9800;
  width: 600px;
  margin: 0 auto;
  background-color: #FFF8E1;
  div {
    border-bottom: 1px solid;
    border-color: #FF9800;
    position: relative;
  }
  p {
    color: #333333;
    margin: 0;
    font-size: 20px;
    display: inline-block;
    position: absolute;
  }
  .company {
    left: 260px;
  }
}










.sidebar-padding{
  padding-left: 200px;

}

.sidebar{
  top: 50px;
  box-sizing: border-box;
  height: 100%;
  width: 200px;
  position: fixed;
  background: #FFF8E1;
  img, i {
    margin: 10px 35px 10px 35px;
  }
 }

.sidebar-contents {

}

.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover{
    color: white;
  }
}

.sign-up-block{
  text-align: center;
  font-size: 20px;
  color: #FF9800;
  padding-top: 130px;
  a {
    text-decoration: none;
  }
  div{
    padding: 10px;
    border-radius: 15px;
    background-color: #FFF8E1;
    width: 220px;
    display: inline-block;
    margin: 0 15px 0 15px;
    i {
      font-size: 150px;
      color: #FF9800;
    }
    p {
      color: #333333;
    }
  }
}



.post-block{
  width: 600px;
  min-height: 70px;
  margin: 0 auto;
  padding: 30px 0 40px 65px;
  background-color: #FFF8E1;
  border: 1px solid;
  border-bottom: none;
  border-color: #FF9800;
  position: relative;
  .avatar {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
  }
  .link-block {
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    position: absolute;
  }
  .like-button {
    min-width: 1px;
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 60px;
    p {
      display: inline-block;
    }
  }
  a {
    text-decoration: none;
    color: #333333;
  }
  div {
    display: inline-block;
    width: 100%;
    min-height: 30px;
    p {
      font-size: 15px;
      margin: 0;
    }
    i {
      font-size: 20px;
      color: #FF9800;
    }
    .name {
      z-index: 2;
      position: absolute;
      font-size: 20px;
      top: 0px;
    }
  }
}

.post-show-block {
  min-height: 1px;
  width: 600px;
  margin: 200px auto 0;
}

.comment-form {
  width: 600px;
  height: 120px;
  margin: 0 auto;
  border: 1px solid;
  border-color: #FF9800;
  background-color: #FFF8E1;
  padding: 10px;
  position: relative;
  div {
    height: 100px;
    background-color: white;
    border: 1px solid;
    border-radius: 3px;
  }
  textarea {
    width: 100%;
    height: 80px;
    outline: none;
    border: none;
    resize: none;
  }
  button {
    background-color: transparent;
    position: absolute;
    top: 88px;
    left: 560px;
    i {
      color: #FF9800;
    }
  }
}














.sign-in-block{
  margin-top: 150px;
  text-align: center;
  border: solid 1px;
  width: 700px;
  padding:50px;
  border-radius: 25px;
  max-width: 700px;
  width: 90%;
  min-width: 250px;
}

.sign-in-title{
  font-weight: 600;
}

.sign-in-form{
  width: 90%;
  height: 30px;
  border-radius: 5px;
  margin-top: 40px;
  border: 2px solid;
}

.sign-in-btn{
  padding: 2px;
  color: white;
  background-color: #0099FF;
  border: 1px solid;
  border-radius: 5px;
  margin-top: 40px;
  width: 100px;
  height: 40px;
  font-size: 15px;
}

.sign-in-link{
  font-size: 16px;
  padding-top: 20px;
}

//↓ sign-in-blockと全く同じ
.new-room-block{
  margin-top: 150px;
  text-align: center;
  border: solid 1px;
  width: 700px;
  padding:50px;
  border-radius: 25px;
  max-width: 700px;
  width: 90%;
  min-width: 250px;
}

.new-room-title{
  font-weight: 600;
}

.new-roo-form{
  width: 90%;
  height: 30px;
  border-radius: 5px;
  margin-top: 40px;
}

.new-room-btn{
  padding: 2px;
  color: white;
  background-color: #0099FF;
  border: 1px solid;
  border-radius: 5px;
  margin-top: 40px;
  width: 100px;
  height: 40px;
  font-size: 15px;
}

.mypage{
  position: relative;
  padding: 20px;
  min-height: 230px;
  max-height: 575px;
  width: 100%;
  img, i {
    position: absolute;
  }
  p {
    margin: 0px;
    position: absolute;
    left: 220px;
  }
  .company {
    font-size: 40px;
  }
  .name {
    font-size: 35px;
    top: 65px;
  }
  .text {
    margin: 135px 0 0 200px;
  }
  .mypage-edit-btn {
    position: absolute;
    top: 100px;
    left: 180px;
    padding-top: 20px;
    a{
      padding: 2px;
      color: white;
      background-color: #FF9800;
      border: 1px solid;
      border-radius: 5px;
      width: 100px;
      height: 40px;
      font-size: 15px;
      margin: 40px;
      &:hover{
        text-decoration: none;
        color: white;
      }
    }
  }
  .follow-btn{
    position: absolute;
    top: 100px;
    left: 220px;
    padding-top: 20px;
  }
}

.mypage-contents{
  height: 50px;
  background-color: #FFF8E1;
  border-top: 4px solid;
  border-color: #FF9800;
  text-align: center;
  padding-top: 8px;
  a {
    margin: 10px;
    vertical-align: middle;
    text-decoration: none;
    color: #333333;
    font-size: 20px;
  }
}

.follow {
  width: 625px;
  margin: 0 auto;
  a {
    text-decoration: none;
  }
  div {
    position: relative;
    height: 60px;
    margin: 0px;
    width: 260px;
    display: inline-block;
    p {
      position: relative;
      top: 15px;
      font-size: 20px;
      color: #333333;
      display: inline-block;
    }
    i,img {
      position: absolute;
    }
  }
  .block1 {
    p {
      left: 60px;
    }
  }
}

#followChange {
  width: 96px;
  vertical-align: bottom;
}

.follow-btn {
  a{
    padding: 2px;
    color: white;
    background-color: #FF9800;
    border: 1px solid;
    border-radius: 5px;
    height: 40px;
    font-size: 15px;
    &:hover{
      text-decoration: none;
      color: white;
    }
  }
}

#img_field{
  width: 190px;
}

#file{
}

.edit-form{
  width: 280px;
  height: 30px;
  border-radius: 5px;
  margin: 40px 40px 0px 40px;
}

.edit-text{
  width: 400px;
  height: 100px;
  border-radius: 5px;
  margin: 50px 40px 0px 40px;

}

.edit-btn{
  padding: 2px;
  color: white;
  background-color: #0099FF;
  border: 1px solid;
  border-radius: 5px;
  width: 100px;
  margin: 40px;
}

.sidebar-name{
  font-size: 30px;
  text-align: center;
  color: black;
  text-decoration: none;
  &:hover{
    color: black;
  }
}

.message-form-block{
  border: 1px solid;
  height: 180px;
  border-radius: 15px;
  padding: 5px;
  margin: 10px;
}

.message-form{
  height: 145px;
  width: 100%;
  border: none;
  background-color: transparent;
  margin: 0 auto;
  outline: none;
  resize: none;
}

.message-btn{
  font-size: 17px;
  border: none;
  background-color: transparent;
  margin-left: 96%;
}

.message-block{
  border-bottom: solid 1px;
  width: 100%;
}

.message-avatar{
  margin: 5px;
  width: 30px;
  border-radius: 95px;
}

.message-avatar-none{
  margin: 5px;
  width: 30px;
  font-size: 30px;
}

.message-name{
  font-size: 15px;
}

.message-profile-block{
  display: flex;
}

.message{
  font-size: 15px;
}

.care-diary-block{
  margin-top: 150px;
  border: solid 1px;
  width: 700px;
  padding:50px;
  border-radius: 25px;
  max-width: 700px;
  width: 90%;
  min-width: 250px;
}

.care-diary-date-form{
  width: 130px;
  height: 30px;
  border-radius: 5px;
  margin-top: 30px;
  border: 2px solid;
  display: inline-block;
  margin-right: 30px;
}

.care-diary-form-block{
  display: inline-block;
  width: 75px;
  position: relative;
  margin-right: 10px;
  input{
    width: 75px;
    height: 30px;
    border-radius: 5px;
    margin-top: 30px;
    border: 2px solid;
    text-align: center;
  }
  p{
    position: absolute;
    top: 35px;
    left: 53px;
    background-color: white;
  }
}

.care-diary-notes-form{
  border-radius: 5px;
  margin-top: 30px;
  border: 2px solid;
  height: 145px;
  width: 540px;
  outline: none;
  resize: none;
}

.care-diary-btn{
  padding: 2px;
  color: white;
  background-color: #0099FF;
  border: 1px solid;
  border-radius: 5px;
  margin: 40px 40%;
  width: 100px;
  height: 40px;
  font-size: 15px;
}

.page-title{
  margin: 70px 0 70px 0;
  font-size: 50px;
  text-align: center;
  p {
    margin: 0 auto;
    min-width: 350px;
    max-width: 500px;
    box-shadow: 0px 10px 15px -10px;
  }
}

.care-diary-date{
  font-size: 25px;
  text-align: center;
  width: 100px;
  margin-left: 90px;
  p{
    margin: 0;
  }
}

.care-diary-block1{
  margin: 30px 89px;
}

.care-diary-index-block2{
  display: inline-block;
  border: solid 1px;
  padding-left: 5px;
  border-radius: 5px;
  font-size: 15px;
  width: 210px;
  margin: 10px;
  a{
    text-decoration: none ;
    color: #333333;
  }
  p{
    display: inline-block;
  }
  .date{
    font-size: 20px;
    padding-right: 10px;
  }
  .bolder{
    font-weight: bolder;
  }
}

.left-button{
  width: 30px;
  height: 160px;
  font-size: 50px;
  padding: 50px 4px;
  border: 1px solid white;
  color: #DD7F12;
  background-color: #EFD100;
  position: absolute;
  top: 340px;
  left: 220px;
}

.right-button{
  width: 30px;
  height: 160px;
  font-size: 50px;
  padding: 50px 4px;
  border: 1px solid white;
  color: #DD7F12;
  background-color: #EFD100;
  position: absolute;
  top: 340px;
  right: 20px;
}

.care-diary-block-show{
  min-width: 369px;
  border: 1px solid;
  border-radius: 15px;
  margin: 30px 89px;
  padding: 0px;
  position: relative;
  font-size: 0px;
  p{
    font-size: 30px;
    height: 100%;
    margin: 0px;
    padding: 10px;
    display: inline-block;
  }
  .block1 {
    position: absolute;
    border-bottom: 1px solid;
    .date{
      width: 85px;
      border-right: 1px solid;
    }
    .temperature{
      border-right: 1px solid;
    }
  }
  .block2 {
    top: -1px;
    left: 288px;
    width: 368px;
    position: absolute;
    border-bottom: 1px solid;
    border-top: 1px solid;
    .breakfast-meal-intake{
      border-left: 1px dashed;
      width: 86px;
      text-align: center;
    }
    .lunch-meal-intake{
      border-left: 1px dashed;
      width: 86px;
      text-align: center;
    }
    .dinner-meal-intake{
      border-right: 1px solid;
      border-left: 1px dashed;
      width: 86px;
      text-align: center;
    }
  }
  .notes {
  font-size: 20px;
  box-sizing: border-box;
  margin: 10px;
  padding-top: 73px;
  }
  @media screen and (max-width: 1080px) {
    .block2 {
      top: 62px;
      left: 0px;
    }
    .notes{
      padding-top: 136px;
    }
  }
}

.care-recipient-block1 {
  margin-top: 150px;
  border: solid 1px;
  max-width: 880px;
  padding:50px;
  border-radius: 25px;
  min-width: 250px;
  div {
    margin-top: 30px;
  }
}

.care-recipient-label {
  font-size: 20px;
}

.care-recipient-block2 {
  font-size: 20px;
  input {
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
    height: 35px;
  }
  select {
    font-size: 20px;
    height: 35px;
  }
  .name {
    font-size: 30px;
    width: 288px;
    height: 50px;
    margin-right: 40px;
  }
  .age {
    width: 70px;
    text-align: left;
    margin-right: 30px;
  }

.care-recipient-block3 {
  font-size: 20px;
  input {
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
    height: 35px;
  }
  .facility-in-charge{
    margin-right: 20px;
  }
}
@media screen and (max-width: 1080px) {
  .care-recipient-block3{
    display: table-caption;
  }
}

  .sex {
  width: 50px;
  }
  .degree-care-required {
    margin-right: 20px;
    width: 50px;
  }
  .dementia{
    margin-right: 20px;
    width: 60px;
  }
  .notes {
    height: 200px;
    width: 100%;
  }
}

.care-recipient-index-block{
  margin: 100px;
  p {
    margin: 0px;
  }
}

.care-recipient-tbl {
	border-collapse: collapse;
  margin: 10vh auto 0;
  a {
    display: block;
    width: 100%;
    color: #333333;
    text-decoration: none;
  }
  .white {
    color: white;
  }
}
.care-recipient-tbl th, td {
  min-width: 100px;
  font-size: 2vw;
	border: 1px solid white;
  text-align: center;
}
.care-recipient-tbl tr:nth-child(2n+1) {
	background: #FFF8E1;
}
.care-recipient-tbl tr:first-child, th:first-child {
	background: #FF9800;
  color: white;
}

.care-recipient-show-block1{
  margin: 30px;
  padding: 20px;
  border: 4px solid;
  border-radius: 15px;
  border-color: #FF9800;
}

.care-recipient-show-block2 {
  margin: 0px;
  font-size: 0px;
  p {
    margin: 0px 30px 20px 0px;
    font-size: 30px;
    border-bottom: 2px solid;
    border-color: #808080;
    display: inline-block;
  }
}

.care-recipient-show-block3 {
  margin: 0px;
  font-size: 0px;
  p {
    margin: 0px 30px 20px 0px;
    font-size: 30px;
    border-color: #808080;
    display: inline-block;
  }
}

.post-new-block {
  width: 600px;
  margin: 0 auto;
  textarea {
    border-radius: 5px;
    margin-top: 30px;
    border: 2px solid;
    height: 145px;
    width: 540px;
    outline: none;
    resize: none;
  }
  input {
    padding: 2px;
    color: white;
    background-color: #FF9800;
    border: 1px solid;
    border-radius: 5px;
    height: 40px;
    font-size: 15px;
    &:hover{
      text-decoration: none;
      color: white;
    }
  }
}
