@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body{
  margin-top: 50px;
}

.header{
  background-color: #FF9800;
}

.title-logo{
  margin: 0px;
  position: fixed;
}

.sidebar-padding{
  padding-left: 200px;
}

.sidebar{
  top: 50px;
  box-sizing: border-box;
  height: 100%;
  width: 200px;
  position: fixed;
  background: #FFF8E1;
 }

.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover{
    color: white;
  }
}

.sign-in-block{
  margin-top: 150px;
  text-align: center;
  border: solid 1px;
  width: 700px;
  padding:50px;
  border-radius: 25px;
  max-width: 700px;
  width: 90%;
  min-width: 250px;
}

.sign-in-title{
  font-weight: 600;
}

.sign-in-form{
  width: 90%;
  height: 30px;
  border-radius: 5px;
  margin-top: 40px;
  border: 2px solid;
}

.sign-in-btn{
  padding: 2px;
  color: white;
  background-color: #0099FF;
  border: 1px solid;
  border-radius: 5px;
  margin-top: 40px;
  width: 100px;
  height: 40px;
  font-size: 15px;
}

.sign-in-link{
  font-size: 16px;
  padding-top: 20px;
}

//↓ sign-in-blockと全く同じ
.new-room-block{
  margin-top: 150px;
  text-align: center;
  border: solid 1px;
  width: 700px;
  padding:50px;
  border-radius: 25px;
  max-width: 700px;
  width: 90%;
  min-width: 250px;
}

.new-room-title{
  font-weight: 600;
}

.new-roo-form{
  width: 90%;
  height: 30px;
  border-radius: 5px;
  margin-top: 40px;
}

.new-room-btn{
  padding: 2px;
  color: white;
  background-color: #0099FF;
  border: 1px solid;
  border-radius: 5px;
  margin-top: 40px;
  width: 100px;
  height: 40px;
  font-size: 15px;
}

.avatar-none{
  font-size: 190px;
  color: 	#808080;
}

.mypage{
  border-bottom: solid 1px;
  padding: 20px;
  min-height: 230px;
  width: 100%;
}

.mypage-avatar{
  border-radius: 95px;
}

.mypage-avatar-block{
  position: absolute;
  display: flex;

}

.mypage-block{
  position: relative;

}

.mypage-name{
  padding-left: 20px;
  font-size: 45px;
}

.mypage-edit-btn{
  padding: 25px;
}

.follow-btn{
  padding-top: 20px;
  a{
    padding: 2px;
    color: white;
    background-color: #0099FF;
    border: 1px solid;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-size: 15px;
    margin: 40px;
    &:hover{
      text-decoration: none;
      color: white;
    }
  }
}

.mypage-text{
  padding-top: 70px;
  padding-left: 210px;
}

#img_field{
  width: 190px;
}

#file{
  display: none;
}

.edit-form{
  width: 280px;
  height: 30px;
  border-radius: 5px;
  margin: 40px 40px 0px 40px;
}

.edit-text{
  width: 400px;
  height: 100px;
  border-radius: 5px;
  margin: 50px 40px 0px 40px;

}

.edit-btn{
  padding: 2px;
  color: white;
  background-color: #0099FF;
  border: 1px solid;
  border-radius: 5px;
  width: 100px;
  margin: 40px;
}

.sidebar-avatar{
  width: 130px;
  margin: 10px 35px 10px 35px;
  border-radius: 95px;
}

.sidebar-avatar-none{
  font-size: 130px;
  margin: 10px 35px 10px 35px;
  color: 	#808080;
  &:hover{
    color: #808080;
  }
}

.sidebar-name{
  font-size: 30px;
  text-align: center;
  color: black;
  text-decoration: none;
  &:hover{
    color: black;
  }
}

.message-form-block{
  border: 1px solid;
  height: 180px;
  border-radius: 15px;
  padding: 5px;
  margin: 10px;
}

.message-form{
  height: 145px;
  width: 100%;
  border: none;
  background-color: transparent;
  margin: 0 auto;
  outline: none;
  resize: none;
}

.message-btn{
  font-size: 17px;
  border: none;
  background-color: transparent;
  margin-left: 96%;
}

.message-block{
  border-bottom: solid 1px;
  width: 100%;
}

.message-avatar{
  margin: 5px;
  width: 30px;
  border-radius: 95px;
}

.message-avatar-none{
  margin: 5px;
  width: 30px;
  font-size: 30px;
}

.message-name{
  font-size: 15px;
}

.message-profile-block{
  display: flex;
}

.message{
  font-size: 15px;
}
