@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance:textfield;
}

body{

  margin-top: 50px;
}

.header{
  background-color: #FF9800;
}

.title-logo{
  margin: 0px 10px;;
  position: fixed;
  a {
    color: white;
    text-decoration: none;
  }
}

.sidebar-padding{
  padding-left: 200px;

}

.sidebar{
  top: 50px;
  box-sizing: border-box;
  height: 100%;
  width: 200px;
  position: fixed;
  background: #FFF8E1;
 }

.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover{
    color: white;
  }
}

.sign-in-block{
  margin-top: 150px;
  text-align: center;
  border: solid 1px;
  width: 700px;
  padding:50px;
  border-radius: 25px;
  max-width: 700px;
  width: 90%;
  min-width: 250px;
}

.sign-in-title{
  font-weight: 600;
}

.sign-in-form{
  width: 90%;
  height: 30px;
  border-radius: 5px;
  margin-top: 40px;
  border: 2px solid;
}

.sign-in-btn{
  padding: 2px;
  color: white;
  background-color: #0099FF;
  border: 1px solid;
  border-radius: 5px;
  margin-top: 40px;
  width: 100px;
  height: 40px;
  font-size: 15px;
}

.sign-in-link{
  font-size: 16px;
  padding-top: 20px;
}

//↓ sign-in-blockと全く同じ
.new-room-block{
  margin-top: 150px;
  text-align: center;
  border: solid 1px;
  width: 700px;
  padding:50px;
  border-radius: 25px;
  max-width: 700px;
  width: 90%;
  min-width: 250px;
}

.new-room-title{
  font-weight: 600;
}

.new-roo-form{
  width: 90%;
  height: 30px;
  border-radius: 5px;
  margin-top: 40px;
}

.new-room-btn{
  padding: 2px;
  color: white;
  background-color: #0099FF;
  border: 1px solid;
  border-radius: 5px;
  margin-top: 40px;
  width: 100px;
  height: 40px;
  font-size: 15px;
}

.avatar-none{
  font-size: 190px;
  color: 	#808080;
}

.mypage{
  border-bottom: solid 1px;
  padding: 20px;
  min-height: 230px;
  width: 100%;
}

.mypage-avatar{
  border-radius: 95px;
}

.mypage-avatar-block{
  position: absolute;
  display: flex;

}

.mypage-block{
  position: relative;

}

.mypage-name{
  padding-left: 20px;
  font-size: 45px;
}

.mypage-edit-btn{
  padding: 25px;
}

.follow-btn{
  padding-top: 20px;
  a{
    padding: 2px;
    color: white;
    background-color: #0099FF;
    border: 1px solid;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-size: 15px;
    margin: 40px;
    &:hover{
      text-decoration: none;
      color: white;
    }
  }
}

.mypage-text{
  padding-top: 70px;
  padding-left: 210px;
}

#img_field{
  width: 190px;
}

#file{
  display: none;
}

.edit-form{
  width: 280px;
  height: 30px;
  border-radius: 5px;
  margin: 40px 40px 0px 40px;
}

.edit-text{
  width: 400px;
  height: 100px;
  border-radius: 5px;
  margin: 50px 40px 0px 40px;

}

.edit-btn{
  padding: 2px;
  color: white;
  background-color: #0099FF;
  border: 1px solid;
  border-radius: 5px;
  width: 100px;
  margin: 40px;
}

.sidebar-avatar{
  width: 130px;
  margin: 10px 35px 10px 35px;
  border-radius: 95px;
}

.sidebar-avatar-none{
  font-size: 130px;
  margin: 10px 35px 10px 35px;
  color: 	#808080;
  &:hover{
    color: #808080;
  }
}

.sidebar-name{
  font-size: 30px;
  text-align: center;
  color: black;
  text-decoration: none;
  &:hover{
    color: black;
  }
}

.message-form-block{
  border: 1px solid;
  height: 180px;
  border-radius: 15px;
  padding: 5px;
  margin: 10px;
}

.message-form{
  height: 145px;
  width: 100%;
  border: none;
  background-color: transparent;
  margin: 0 auto;
  outline: none;
  resize: none;
}

.message-btn{
  font-size: 17px;
  border: none;
  background-color: transparent;
  margin-left: 96%;
}

.message-block{
  border-bottom: solid 1px;
  width: 100%;
}

.message-avatar{
  margin: 5px;
  width: 30px;
  border-radius: 95px;
}

.message-avatar-none{
  margin: 5px;
  width: 30px;
  font-size: 30px;
}

.message-name{
  font-size: 15px;
}

.message-profile-block{
  display: flex;
}

.message{
  font-size: 15px;
}

.care-diary-block{
  margin-top: 150px;
  border: solid 1px;
  width: 700px;
  padding:50px;
  border-radius: 25px;
  max-width: 700px;
  width: 90%;
  min-width: 250px;
}

.care-diary-date-form{
  width: 130px;
  height: 30px;
  border-radius: 5px;
  margin-top: 30px;
  border: 2px solid;
  display: inline-block;
  margin-right: 30px;
}

.care-diary-form-block{
  display: inline-block;
  width: 75px;
  position: relative;
  margin-right: 10px;
  input{
    width: 75px;
    height: 30px;
    border-radius: 5px;
    margin-top: 30px;
    border: 2px solid;
    text-align: center;
  }
  p{
    position: absolute;
    top: 35px;
    left: 53px;
    background-color: white;
  }
}

.care-diary-notes-form{
  border-radius: 5px;
  margin-top: 30px;
  border: 2px solid;
  height: 145px;
  width: 540px;
  outline: none;
  resize: none;
}

.care-diary-btn{
  padding: 2px;
  color: white;
  background-color: #0099FF;
  border: 1px solid;
  border-radius: 5px;
  margin: 40px 40%;
  width: 100px;
  height: 40px;
  font-size: 15px;
}

.page-title{
  margin-top: 70px;
  font-size: 50px;
  text-align: center;
  p {
    margin: 0 auto;
    min-width: 350px;
    max-width: 500px;
    box-shadow: 0px 10px 15px -10px;
  }
}

.care-diary-date{
  font-size: 25px;
  text-align: center;
  width: 100px;
  margin-left: 90px;
  p{
    margin: 0;
  }
}

.care-diary-block1{
  margin: 30px 89px;
}

.care-diary-index-block2{
  display: inline-block;
  border: solid 1px;
  padding-left: 5px;
  border-radius: 5px;
  font-size: 15px;
  width: 210px;
  margin: 10px;
  a{
    text-decoration: none ;
    color: #333333;
  }
  p{
    display: inline-block;
  }
  .date{
    font-size: 20px;
    padding-right: 10px;
  }
  .bolder{
    font-weight: bolder;
  }
}

.left-button{
  width: 30px;
  height: 160px;
  font-size: 50px;
  padding: 50px 4px;
  border: 1px solid white;
  color: #DD7F12;
  background-color: #EFD100;
  position: absolute;
  top: 340px;
  left: 220px;
}

.right-button{
  width: 30px;
  height: 160px;
  font-size: 50px;
  padding: 50px 4px;
  border: 1px solid white;
  color: #DD7F12;
  background-color: #EFD100;
  position: absolute;
  top: 340px;
  right: 20px;
}

.care-diary-block-show{
  min-width: 369px;
  border: 1px solid;
  border-radius: 15px;
  margin: 30px 89px;
  padding: 0px;
  position: relative;
  font-size: 0px;
  p{
    font-size: 30px;
    height: 100%;
    margin: 0px;
    padding: 10px;
    display: inline-block;
  }
  .block1 {
    position: absolute;
    border-bottom: 1px solid;
    .date{
      width: 85px;
      border-right: 1px solid;
    }
    .temperature{
      border-right: 1px solid;
    }
  }
  .block2 {
    top: -1px;
    left: 288px;
    width: 368px;
    position: absolute;
    border-bottom: 1px solid;
    border-top: 1px solid;
    .breakfast-meal-intake{
      border-left: 1px dashed;
      width: 86px;
      text-align: center;
    }
    .lunch-meal-intake{
      border-left: 1px dashed;
      width: 86px;
      text-align: center;
    }
    .dinner-meal-intake{
      border-right: 1px solid;
      border-left: 1px dashed;
      width: 86px;
      text-align: center;
    }
  }
  .notes {
  font-size: 20px;
  box-sizing: border-box;
  margin: 10px;
  padding-top: 73px;
  }
  @media screen and (max-width: 1080px) {
    .block2 {
      top: 62px;
      left: 0px;
    }
    .notes{
      padding-top: 136px;
    }
  }
}

.care-recipient-block1 {
  margin-top: 150px;
  border: solid 1px;
  max-width: 880px;
  padding:50px;
  border-radius: 25px;
  min-width: 250px;
}

.care_recipient_label {
  font-size: 20px;
}

.care-recipient-block2 {
  margin-top: 30px;
  font-size: 20px;
  input {
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
    height: 35px;
  }
  select {
    font-size: 20px;
    height: 35px;
  }
  .name {
    font-size: 30px;
    width: 288px;
    height: 50px;
    margin-right: 40px;
  }
  .age {
    width: 70px;
    text-align: left;
    margin-right: 30px;
  }


.care-recipient-block3 {
  margin-top: 30px;
  font-size: 20px;
  input {
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
    height: 35px;
  }
  .facility_in_charge{
    margin-right: 20px;
  }
}
@media screen and (max-width: 1080px) {
  .care-recipient-block3{
    display: table-caption;
  }
}

  .sex {
  width: 50px;
  }
  .degree_care_required {
    margin-right: 20px;
    width: 50px;
  }
  .dementia{
    margin-right: 20px;
    width: 60px;
  }
  .notes {
    height: 200px;
    width: 100%;
  }
}

.care-recipient-index-block{
  margin: 100px;
  p {
    margin: 0px;
  }
}

.care-recipient-tbl {
	border-collapse: collapse;
  margin: 10vh auto 0;
  a {
    color: white;
    text-decoration: none;
  }
}
.care-recipient-tbl th, td {
  min-width: 100px;
  font-size: 2vw;
	border: 1px solid white;
  text-align: center;
}
.care-recipient-tbl tr:nth-child(2n+1) {
	background: #FFF8E1;
}
.care-recipient-tbl tr:first-child, th:first-child {
	background: #FF9800;
  color: white;
}

.care-recipient-show-block1{
  margin: 30px;
  padding: 20px;
  border: 1px solid;
  border-radius: 15px;
}

.care-recipient-show-block2 {
  margin: 0px;
  font-size: 0px;
  p {
    margin: 0px 30px 20px 0px;
    font-size: 30px;
    border-bottom: 2px solid;
    border-color: #808080;
    display: inline-block;
  }
}

.care-recipient-show-block3 {
  margin: 0px;
  font-size: 0px;
  p {
    margin: 0px 30px 20px 0px;
    font-size: 30px;
    border-color: #808080;
    display: inline-block;
  }
}
