<div class="dashboard">
  <ul class="channel_list">
    <% if user_signed_in? %>
      <%= link_to "マイページ", user_path(current_user.id) %>
      <div data-turbolinks="false">
      <%= link_to "メッセージ作成", new_room_path %>
      </div>
    <% end %>
  </ul>
</div>
